*{padding: 0;
    margin: 0;
/*     box-sizing: border-box; */
    font-family: monospace;
    text-decoration: none;
    color: black;

}

.body{
    background-color: rgba(240, 152, 80, 0.623);
}

.pileCliente{
    display: flex;
    flex-direction: column;
    padding: 20px 10px ;
    gap: 20px;
}
.formMedidas{
    display: flex;
    flex-direction: column;
}

.inputsContainer{
    display: flex;
    flex-direction: column;
    padding: 20px 10px ;
    gap: 20px;
    
}
.input{
    display: flex;
    flex-direction: column;
}

